<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/basket.css" />
    <title>Document</title>
  </head>
  <body>
    <h3><a href="/">DB PLACE</a></h3>
    <table>
      <thead>
        <tr>
          <th scope="col">장바구니 번호</th>
          <th scope="col">합게</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%if(basket_info.length != 0) {%>
          <th scope="row"><%= basket_info[0].basket_num%></th>
          <td><%= sumPrice[0].sum%></td>
          <td colspan="2"></td>
          <td>
            <div>
              <form action="/basket/orderBasket" method="post">
                <% for (var i =0; i< menuName.length; i++) { %>
                <input
                  type="hidden"
                  name="menu_num"
                  value="<%= menuName[i].menu_num %>"
                />
                <input
                  type="hidden"
                  name="menu_name"
                  value="<%= menuName[i].menu_name %>"
                />
                <input
                  type="hidden"
                  name="menu_count"
                  value="<%= basket_list_info[i].menu_count %>"
                />
                <%= console.log(basket_list_info[i].menu_count); %>
                <input
                  type="hidden"
                  name="menu_price"
                  value="<%= menuName[i].menu_price %>"
                />
                <% } %>
                <label for="pay">지불 방식:</label>
                <select name="pay" id="pay">
                  <option value="card">신용카드</option>
                  <option value="cash">현금</option>
                  <option value="check">수표</option>
                </select>
                <button type="submit">구매</button>
              </form>
              <form action="/basket/deleteBasket" method="post">
                <label>장바구니 삭제: </label
                ><button
                  type="submit"
                  style="margin-left: 49px; margin-top: 3px"
                >
                  삭제
                </button>
              </form>
            </div>
          </td>
          <%} else {%>
          <td colspan="5">장바구니에 담은 메뉴가 없습니다.</td>
          <%}%>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">메뉴명</th>
          <th scope="col">수량</th>
          <th scope="col">단가</th>
          <th scope="col">금액</th>
          <th scope="col">메뉴삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < basket_list_info.length; i++) { %>
        <tr>
          <th scope="row"><%= menuName[i].menu_name%></th>
          <td><%=basket_list_info[i].menu_count%></td>
          <td><%= menuName[i].menu_price%></td>
          <td><%=basket_list_info[i].menu_totalprice%></td>
          <td>
            <form
              action="/basket/deleteMenu/<%= menuName[i].menu_num %>?_method=DELETE"
              method="post"
            >
              <button>삭제</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
