<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/manager.css" />
  </head>
  <body>
    <a href="/"><h1>A DB PLACE</h1></a>
    <h1>관리자 페이지</h1>

    <div>
      <h2>공급업체 현황</h2>
      <table border="1">
        <thead>
          <tr>
            <th>업체 번호</th>
            <th>업체 이름</th>
            <th>업체 주소</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < sup_info.length; i++) { %>
          <tr>
            <td><%= sup_info[i].sup_num %></td>
            <td><%= sup_info[i].sup_name %></td>
            <td><%= sup_info[i].sup_address %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <form action="/manager/addSupply" method="post" id="supplyForm">
        <label for="name">업체 번호:</label>
        <input type="number" id="number" name="number" />

        <label for="name">업체 이름:</label>
        <input type="text" id="name" name="name" />

        <label for="city">업체 위치:</label>
        <select id="city" name="city">
          <option value="부산">부산</option>
          <option value="서울">서울</option>
        </select>

        <button type="submit">추가</button>
      </form>
    </div>
    <hr />
    <div>
      <h2>재료 현황</h2>
      <table border="1">
        <thead>
          <tr>
            <th>재료 번호</th>
            <th>재료 이름</th>
            <th>원산지</th>
            <th>재료 개수</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < ingre_info.length; i++) { %>
          <tr>
            <td><%= i %></td>
            <td><%= ingre_info[i].ingre_name %></td>
            <td><%= ingre_info[i].ingre_from %></td>
            <td><%= ingre_info[i].ingre_totalcount%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <form action="/manager/insertIngre" method="post" id="ingreForm">
        <label for="name">재료이름:</label>
        <input type="text" id="ingre_name" name="ingre_name" />

        <label for="name">원산지:</label>
        <input type="text" id="ingre_from" name="ingre_from" />

        <button type="submit">추가</button>
      </form>
    </div>
    <hr />
    <div>
      <h2>공급업체 재료 주문현황</h2>
      <small>[1KG = 1000] [1L = 500] [1LBS = 500] </small>
      <table border="1">
        <thead>
          <tr>
            <th>주문 번호</th>
            <th>업체 번호</th>
            <th>업체 이름</th>
            <th>업체 주소</th>
            <th>주문 목록</th>
            <th>주문 수량</th>
            <th>주문 목록 단위</th>
            <th>주문 날짜</th>
            <th>주문 가격</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < sup.length; i++) { %>
          <tr>
            <td><%= sup[i].delivery_num %></td>
            <td><%= sup[i].sup_num %></td>
            <td><%= sup[i].sup_name %></td>
            <td><%= sup[i].sup_address %></td>
            <td><%= sup[i].ingredient_ingre_name %></td>
            <td><%= sup[i].delivery_totalcount %></td>
            <td><%= sup[i].delivery_ordertype %></td>
            <td><%= sup[i].delivery_date %></td>
            <td><%= sup[i].delivery_price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <form action="/manager/addingre" method="post" id="addingreForm">
        <label for="sup_name">주문업체: </label>
        <select name="sup_name">
          <% for (let i = 0; i < sup_info.length; i++) { %>
          <option value="<%= sup_info[i].sup_name %>">
            <%= sup_info[i].sup_name %>
          </option>
          <% } %>
        </select>
        <label for="del_name">주문목록: </label>
        <select name="del_name">
          <% for (let i = 0; i < ingre_info.length; i++) { %>
          <option value="<%=  ingre_info[i].ingre_name %>">
            <%= ingre_info[i].ingre_name%>
          </option>
          <% } %>
        </select>
        <label for="del_count">주문수량: </label>
        <input type="number" name="del_count" value="1" min="1" max="100" />
        <label for="del_type">주문단위: </label>
        <select name="del_type" id="del_type">
          <option value="KG">KG</option>
          <option value="L">L</option>
          <option value="LBS">LBS</option>
        </select>
        <button type="submit">주문</button>
      </form>
    </div>
    <hr />
    <div>
      <h2>메뉴별 레시피 현황</h2>
      <table border="1">
        <thead>
          <th>메뉴번호</th>
          <th>메뉴이름</th>
          <th>메뉴가격</th>
          <th>메뉴타입</th>
          <th>이달의메뉴</th>
          <th>레시피</th>
          <th>필요한재료량</th>
          <th>남은재료량</th>
        </thead>
        <% for (let i = 0; i < menu_recipe_info.length; i++) { %> <% if (i === 0
        || menu_recipe_info[i].menu_num !== menu_recipe_info[i - 1].menu_num) {
        %>
        <tbody>
          <tr>
            <td
              rowspan="<%= menu_recipe_info.filter(item => item.menu_num === menu_recipe_info[i].menu_num).length %>"
            >
              <%= menu_recipe_info[i].menu_num %>
            </td>
            <td
              rowspan="<%= menu_recipe_info.filter(item => item.menu_num === menu_recipe_info[i].menu_num).length %>"
            >
              <%= menu_recipe_info[i].menu_name %>
            </td>
            <td
              rowspan="<%= menu_recipe_info.filter(item => item.menu_num === menu_recipe_info[i].menu_num).length %>"
            >
              <%= menu_recipe_info[i].menu_price %>
            </td>
            <td
              rowspan="<%= menu_recipe_info.filter(item => item.menu_num === menu_recipe_info[i].menu_num).length %>"
            >
              <%= menu_recipe_info[i].menu_type %>
            </td>
            <td
              rowspan="<%= menu_recipe_info.filter(item => item.menu_num === menu_recipe_info[i].menu_num).length %>"
            >
              <form action="manager/uptype" method="post">
                <input
                  type="hidden"
                  name="menu_num"
                  value="<%= menu_recipe_info[i].menu_num %>"
                />
                <select name="type" id="type">
                  <option value="대표메뉴">대표메뉴</option>
                  <option value="추천메뉴">추천메뉴</option>
                  <option value="기본메뉴">기본메뉴</option>
                </select>
                <button type="submit">수정</button>
              </form>
              <%= menu_recipe_info[i].menu_best %>
            </td>
            <td><%= menu_recipe_info[i].ingredient_ingre_name %></td>
            <td><%= menu_recipe_info[i].recipe_req %></td>
            <td><%= menu_recipe_info[i].ingre_totalcount %></td>
          </tr>
          <% } else { %>
          <tr>
            <td><%= menu_recipe_info[i].ingredient_ingre_name %></td>
            <td><%= menu_recipe_info[i].recipe_req %></td>
            <td><%= menu_recipe_info[i].ingre_totalcount %></td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
      <form action="/manager/addMenu" method="post" id="menuform">
        <label for "num">메뉴번호: </label>
        <input type="number" value="1" min="1" max="50" id="menu_num" name="menu_num"/>

        <label for="name">메뉴이름: </label>
        <input type="text" id="menu_name" name="menu_name" />

        <label for="name">메뉴가격:</label>
        <input type="number" id="menu_price" name="menu_price" />

        <label for="menu_type">메뉴타입:</label>
        <select id="menu_type" name="menu_type">
          <option value="coffee">coffee</option>
          <option value="dessert">dessert</option>
          <option value="tea">tea</option>
        </select>

        <select id="menu_spe" name="menu_spe">
          <option value="대표메뉴">대표메뉴</option>
          <option value="추천메뉴">추천메뉴</option>
          <option value="기본메뉴">기본메뉴</option>
        </select>

        <button type="submit">추가</button>
      </form>
      <br /><br />
      <form action="/manager/addRecipe" method="post" id="recipeform">
        <label for="menu_num">레시피 추가 메뉴번호: </label>
        <input type="number" name="menu_num" value="1" min="1" max="50" />

        <label for="recipe_name">추가할 레시피: </label>
        <select id="recipe_name" name="recipe_name">
          <% for (let i = 0; i < ingre_info.length; i++) { %>
          <option value="<%=  ingre_info[i].ingre_name %>">
            <%= ingre_info[i].ingre_name%>
          </option>
          <% } %>
        </select>

        <label for="recipe_req">필요한 양: </label>
        <input type="number" name="recipe_req" value="1" min="1" max="50" />

        <button type="submit">추가</button>
      </form>
    </div>
    <br>
    <hr>
    
  </body>
</html>
